################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TAPE.ASM
/GET.REL
/GET.PRN
/GET.COM
/Debug/Get.vcxproj.AssemblyReference.cache
/Debug/Get.log
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Release/Get.vcxproj.AssemblyReference.cache
/Release/Get.log
*.REL
/get.prn.ASM
